{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
        <title>Chapín</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/IconoInicial.ico' %}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="{% static 'css/styles2.css' %}" rel = "stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 </head>
<body id="page-top">
   {% include 'barra.html'%}
           <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="ml-2">
                            <form>
                                <p> Programador: OSWALDO ANTONIO CHOC CUTERES <br>
                                    Carné: 201901844 <br>
                                    IPC2 Sección N <br>
                                    Cuarto semestre <br>
                                    Correo:  3014167370101@ingenieria.usac.edu.gt
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

   <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">

                        <embed src="{% static 'PDF/Documentación Proyecto.pdf' %}" type="application/pdf" width="40px" height = "800px"/>
                </div>
                <br><br>
            </div>
        </section>
</body>
</html>