{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
        <title>Cargar Archivo</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/IconoInicial.ico' %}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="{% static 'css/styles.css' %}" rel = "stylesheet" />
 </head>
<body id="page-top">
   {% include 'barra.html'%}
           <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="ml-2">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="input-group my-3">
                                 <input class ="form-control form-control-lg" name="file" type="file">
                                </div>
                                <div class="form-group col text-center">
                                    <button type="submit" class="btn btn-danger">Cargar Archivo</button>
                                </div>
                            </form>
                            {% if mensaje %}
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                  </symbol>
                                </svg>
                                <div class="alert alert-primary   d-flex align-items-center alert-dismissible fade show" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                      <div>
                                          {{ mensaje }}
                                      </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
</body>
</html>